@font-face {
  font-family: Vazirmatn;
  src: url("../../fonts/Vazirmatn-Regular.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: VazirmatnBold;
  src: url("../../fonts/Vazirmatn-Bold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: Vazirmatn;
}

.section {
  font-family: VazirmatnBold;
  font-size: 16px;
}

.site-brand {
  font-family: VazirmatnBold;
}
