{% load thumbnail %}

{% for action in actions %}	
	{% with user=action.user %}
    <div class="action d-flex align-items-center mb-3 mt-3">
      <div class="images">
        <a href="{{ user.get_absolute_url }}">
          <div class="d-flex flex-column align-items-start justify-content-center text-center">
            <img src="{% thumbnail user.profile.photo 240x0 %}" alt="{{ user.get_full_name }}" class="img-thumbnail rounded-circle mini-img">
            <span class="fs-6 bold-font text-center mt-2">{{ user.username }}</span>
          </div>
        </a>
      </div>
      <div class="me-3 ms-4">
        {% if action.target.image %}
          <a href="{{ action.target.get_absolute_url }}">
            <img src="{% thumbnail action.target.image 300x300 crop='smart' %}" class="img-thumbnail mini-thumbnail">
          </a>
        {% endif %}
      </div>
      <div class="info d-flex flex-column align-items-start justify-content-center">
        <div class="text">
          {% if action.verb == 'update' %}
          <a href="{{ user.get_absolute_url }}" class="bold-font">
            پروفایلش رو آپدیت کرد
          </a>
          {% elif action.verb == 'follow' %}
            <p class="bold-font">
              صفحه
                <a href="{{ action.target.user_to.get_absolute_url }}">{{ action.target.user_to }}</a>
              را دنبال کرد
            </p>
          {% elif action.verb == 'like' %}
            <p class="bold-font">
              پست
              <a href="{{ action.target.get_absolute_url }}">{{ action.target.user.username }}</a>
              را لایک کرد
            </p>
          {% elif action.verb == 'share' %}
          <p class="bold-font">
            <a href="{{ action.target.get_absolute_url }}" class="bold-font">
              پست
            </a>
            گذاشت
          </p>
          {% endif %}    
        </div>      
        <div class="time">
          <span class="date text-muted">{{ action.humanize }}</span>
        </div>
      </div>
    </div>
	{% endwith %}
{% endfor %}
