{% load static thumbnail timesince %}

{% for action in actions %}
  {% with user=action.user %}
  <li>
    <a class="dropdown-item text-light" href="{% if action.verb == 'update' %}{{ user.get_absolute_url }}{% elif action.verb == 'follow' %}{{ action.target.user_to.get_absolute_url }}{% elif action.verb == 'like' %}{{ action.target.get_absolute_url }}{% elif action.verb == 'share' %}{{ action.target.get_absolute_url }}{% endif %}">
      <div class="row align-items-center content">
        <div class="col-auto">
          {% if action.target.image %}
          <img alt="Image placeholder" src="{% thumbnail action.target.image 300x300 crop='smart' %}"
            class="avatar-md rounded">
          {% else %}
            <img alt="Image placeholder" src="{% static 'img/default.png' %}"
              class="avatar-md rounded">
          {% endif %}
        </div>
        <div class="col ps-0 ms-2">
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <h4 class="h6 mb-0 text-small">{{ user.username }}</h4>
            </div>
            <div class="text-end">
              <small class="text-gray-900">{{ action.created|timesince }} پیش</small>
            </div>
          </div>
          <p class="font-small mt-1 mb-0 text-right">
            {% if action.verb == 'update' %}
              پروفایلش رو آپدیت کرد
            {% elif action.verb == 'follow' %}
                صفحه
                {{ action.target.user_to }}
                را دنبال کرد
            {% elif action.verb == 'like' %}
                پست
                {{ action.target.user.username }}
                را لایک کرد
            {% elif action.verb == 'share' %}
                پست گذاشت
            {% endif %}  
          </p>
        </div>
      </div>
    </a>
  </li>
  {% if not forloop.last %}
    <li><hr class="dropdown-divider"></li>
  {% endif %}
  {% endwith %}
{% endfor %}
