{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html dir="rtl" lang="fa" data-layout-mode="dark">
<head>
  {% include 'inc/head.html' %}
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <header id="header">
    {% include 'inc/navbar.html' %}
  </header>
  {% include 'inc/messages.html' %}
  <div class="container-fluid" id="content">
    {% block content %}
    {% endblock %}
  </div>
  {% include 'inc/scripts.html' %}
  {% block script %}
  {% endblock script %}
</body>
</html>