{% extends "base.html" %}

{% block title %}افراد{% endblock %}

{% block content %}
  <div class="alert alert-danger alert-dismissible fade show alert-fixed" role="alert" id="connection-error" hidden>
    خطا در برقراری ارتباط با سرور!
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <h2 class="mt-4 bold-font">پیشنهاد هایی برای شما</h2>
  <div class="my-5"></div>
  <div class="row mt-4 mx-2" id="people-list">
    {% include 'contact/add-users.html' %}
  </div>
{% endblock %}

{% block script %}
<script>
  function success(response) {
    document
      .getElementById("people-list")
      .insertAdjacentHTML("beforeend", response);
  }
  window.ready(function () {
    getData("?page=", "{{ request.GET.page }}", success);
  });
</script>
{% endblock script %}
  