{% extends "base.html" %}

{% block title %}ساخت اکانت{% endblock %}

{% block content %}
  <h2 class="mt-4 bold-font">ساخت حساب کاربری</h2>
  <div class="form mx-md-3">
    <a class="mt-4 btn btn-primary google-login bold-font" href="{% url 'account:otp_auth' %}">
      ارسال دوباره کد تایید
    </a>
    <p class="mt-4"></p>
    <form action="" method="post">
      <div class="d-grid gap-2 col-md-6">
        {{ form.as_p }}
      </div>
      {% csrf_token %}
      <div class="d-grid gap-2 col-md-6 mt-2">
        <input class="btn btn-success" type="submit" value="ثبت نام">
      </div>
      {% if next %}
      <input type="hidden" name="next" value="{{ next }}" />
      {% else %}
      <input type="hidden" name="next" value="{{ request.GET.next }}" />
      {% endif %}
    </form>
    <p class="mt-5 mb-2">
      <p class="mb-2">احراز هویت با ایمیل:</p>
      <a href="{% if request.GET.next %}{% url 'account:register' %}?next={{ request.GET.next }}{% else %}{% url 'account:register' %}{% endif %}" class="btn btn-primary btn-sm">
        ثبت نام با ایمیل
      </a>
      <a href="{% if request.GET.next %}{% url 'account:login' %}?next={{ request.GET.next }}{% else %}{% url 'account:login' %}{% endif %}" class="btn btn-primary btn-sm">
        ورود با ایمیل
      </a>
    </p>
  </div>
  <div class="py-5"></div>
{% endblock %}


