{% extends "base.html" %}

{% block title %}ساخت اکانت{% endblock %}

{% block content %}
  <h2 class="mt-4 bold-font">ساخت حساب کاربری</h2>
  <div class="form mx-md-3">
    <a class="mt-4 btn btn-primary google-login bold-font" href="{% url 'account:otp_auth' %}">
      ثبت نام با شماره موبایل
    </a>
    <a class="mt-4 btn btn-danger google-login bold-font" href="{% url 'social:begin' 'google-oauth2' %}">
      ثبت نام با گوگل
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
        <path d="M386.061 228.496c1.834 9.692 3.143 19.384 3.143 31.956C389.204 370.205 315.599 448 204.8 448c-106.084 0-192-85.915-192-192s85.916-192 192-192c51.864 0 95.083 18.859 128.611 50.292l-52.126 50.03c-14.145-13.621-39.028-29.599-76.485-29.599-65.484 0-118.92 54.221-118.92 121.277 0 67.056 53.436 121.277 118.92 121.277 75.961 0 104.513-54.745 108.965-82.773H204.8v-66.009h181.261zm185.406 6.437V179.2h-56.001v55.733h-55.733v56.001h55.733v55.733h56.001v-55.733H627.2v-56.001h-55.733z"/>
      </svg>
    </a>
    <p class="mt-4"></p>
    <form action="{% url 'account:register' %}" method="post">
      <div class="d-grid gap-2 col-md-6">
        {{ form.as_p }}
      </div>
      {% csrf_token %}
      <div class="d-grid gap-2 col-md-6 mt-2">
        <input class="btn btn-success" type="submit" value="ثبت نام">
      </div>
      {% if next %}
      <input type="hidden" name="next" value="{{ next }}" />
      {% else %}
      <input type="hidden" name="next" value="{{ request.GET.next }}" />
      {% endif %}
    </form>
    <p class="mt-5 mb-2">
      حساب کاربری داری؟
      <a href="{% if request.GET.next %}{% url 'account:login' %}?next={{ request.GET.next }}{% else %}{% url 'account:login' %}{% endif %}" class="btn btn-primary btn-sm">
        ورود به حساب کاربری
      </a>
    </p>
  </div>
  <div class="py-5"></div>
{% endblock %}


