{% extends "base.html" %}

{% block title %}بازنشانی رمز عبور{% endblock %}

{% block content %}
  <h2 class="mt-4 bold-font">رمز عبورت رو فراموش کردی؟</h2>
  <div class="form mx-md-3">
    <p class="mt-4">برای ایجاد یک رمز عبور جدید، نشانی ایمیل ات رو وارد کن:</p>
    <form method="post">
      <div class="d-grid gap-2 col-md-6">
        {{ form.as_p }}
      </div>
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}" />
      <div class="d-grid gap-2 col-md-6">
        <input class="btn btn-success" type="submit" value="ارسال لینک به ایمیل">
      </div>
      {% csrf_token %}
      {% if next %}
      <input type="hidden" name="next" value="{{ next }}" />
      {% else %}
      <input type="hidden" name="next" value="{{ request.GET.next }}" />
      {% endif %}
    </form>
  </div>
{% endblock %}
