:root {
  --light-color: #dddddd;
  --dark-color: #333333;
  --gray: #777;
  --primary: #198754;
  --like-color: #ed4956;
}

@font-face {
  font-family: Vazirmatn;
  src: url("../fonts/Vazirmatn-Regular.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: VazirmatnBold;
  src: url("../fonts/Vazirmatn-Bold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: Vazirmatn;
  background-color: #fefefe;
}

* {
  font-family: Vazirmatn;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

textarea {
  resize: none;
}

.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}

.bold-font {
  font-family: VazirmatnBold;
}

/* Login % Register */

.custom-search input {
  border: none !important;
}

.custom-search button {
  border: 1px solid var(--light-color);
}

.custom-search button:hover {
  border: 1px solid var(--light-color);
}

.form input {
  width: 100%;
}

.form-control {
  border: 1px solid var(--dark-color);
}

ul.errorlist {
  padding: 0;
  margin: 0;
}

ul.errorlist li {
  color: #b02a37;
}

.helptext {
  color: var(--gray);
}

.messages > div {
  width: fit-content !important;
}

.mini-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.username {
  font-size: 22px;
}

.mini-username {
  font-size: 18px;
}

.like .liked svg {
  width: 40px;
  height: 40px;
  fill: var(--like-color);
  -webkit-filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
  cursor: pointer;
}

.like .default svg {
  width: 40px;
  height: 40px;
  fill: #555;
  -webkit-filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
  cursor: pointer;
}

.google-login {
  padding: 2px 15px;
}

.google-login svg {
  width: 27px;
  height: 27px;
  fill: #fefefe;
  margin-right: 5px;
}

input.post-title-input {
  text-align: start;
  unicode-bidi: plaintext;
}
