{% extends 'base.html' %}
{% load static %}

{% block title %}انتشار یک پست{% endblock title %}

{% block content %}
  <h2 class="mt-4 bold-font">انتشار پست</h2>
  <div class="row form mx-md-3 d-flex justify-content-between align-content-center">
    <div class="col-md-6 order-md-0 order-1 mt-0 mt-md-4">
      <form method="post" enctype="multipart/form-data" novalidate>
        <div class="d-grid gap-2 col-md-12">
          {{ form.as_p }}
        </div>
        {% csrf_token %}
        <div class="d-grid gap-2 col-md-12">
          <input class="btn btn-success" type="submit" value="انتشار">
        </div>
      </form>
    </div>
    <div class="col-md-5 order-md-1 order-0 mb-md-0 mb-4 mt-md-4 mt-3">
      <img src="{% static 'img/default.png' %}" id="preview" class="w-100 rounded" alt="تصویر پست">
    </div>
  </div>
  <div class="py-5"></div>
{% endblock content %}
{% block script %}
<script>
  var output = document.getElementById("preview");
  var loadImage = function (event) {
    if (event.target.files[0] !== undefined) {
      output.src = URL.createObjectURL(event.target.files[0]);
      output.onload = function () {
        URL.revokeObjectURL(output.src);
      };
    } else {
      output.src = "{% static 'img/default.png' %}";
    }
  };
</script>
{% endblock script %}
