{% extends 'base.html' %}

{% block title %}انتشار یک پست{% endblock title %}

{% block content %}
  <h2 class="mt-4 bold-font">انتشار پست</h2>
  <img src="{{ request.GET.url }}" class="">
  <div class="form mx-md-3">
  <form method="post">
    <div class="d-grid gap-2 col-md-6">
      {{ form.as_p }}
      <input type="hidden" name="url" value="{{ request.GET.url }}" id="id_url">
    </div>
    {% csrf_token %}
    <div class="d-grid gap-2 col-md-6">
      <input class="btn btn-success" type="submit" value="انتشار">
    </div>
  </form>
  </div>
  <div class="py-5"></div>
{% endblock content %}
