{% extends 'base.html' %}

{% block title %}{{ post.title }}{% endblock title %}

{% block content %}
  <h2 class="mt-4 bold-font">{{ post.title }}</h2>
  <div class="row mt-4 form mx-md-3 d-flex justify-content-between align-content-center">
    <div class="col-md-6 order-md-0 order-1 mt-0 mt-md-4">
      <a href="">
      <img src="{{ post.user.profile.photo.url }}" class="img-thumbnail rounded-circle mini-img">
      <span class="username mx-2 bold-font">{{ post.user.username }}</span>
      </a>
      <br>
      <br>
      {{ post.description|linebreaks }}
      <hr>
      <div class="row">
        <div class="col-6 text-start">
          {{ post.users_like.count }} لایک
        </div>
        <div class="col-6 text-end">
          {{ post.created }}
        </div>
      </div>
      <br>
      <br>
      {% if post.users_like.exists %}
      <h5 class="bold-font">افرادی که این پست رو پسندیدند</h5>
      <div class="row mt-4">
        {% for user in post.users_like.all %}
          <div class="col-md-4 col-6 mb-5">
            <a class="text-center d-flex flex-column justify-content-center align-content-center" href="">
              <div>
                <img src="{{ user.profile.photo.url }}" class="img-thumbnail rounded-circle mini-img">
              </div>
              <div>
                <span class="mini-username bold-font text-center">{{ user.username }}</span>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
      {% endif %}
    </div>
    <div class="col-md-5 order-md-1 order-0 mb-md-0 mb-4 mt-md-4 mt-2">
      <img src="{{ post.image.url }}" class="w-100 rounded img-thumbnail" alt="تصویر پست">
    </div>
  </div>
  <div class="py-5"></div>
{% endblock content %}