{% extends "base.html" %}

{% block title %}تغییر رمز عبور{% endblock %}

{% block content %}
  <h1 class="mt-4 bold-font">تغییر رمز عبور</h1>
  <div class="form mx-md-3">
    {% if form.errors %}
      <p class="mt-4"></p>
    {% else %}
      <p class="mt-4">از طریق فیلد های زیر رمز عبورت رو تغییر بده:</p>
    {% endif %}
    <form action="{% url 'account:change_password' %}" method="post">
      <div class="d-grid gap-2 col-md-6">
        {{ form.as_p }}
      </div>
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}" />
      <div class="d-grid gap-2 col-md-6">
        <input class="btn btn-success" type="submit" value="تغییر رمز عبور">
      </div>
    </form>
  </div>
{% endblock %}
