{% extends "base.html" %}

{% block title %}ورود{% endblock %}

{% block content %}
  <h1 class="mt-4 bold-font">ورود</h1>
  <div class="form login-form mx-md-3">
    {% if form.errors %}
      <p class="mt-4"></p>
    {% else %}
      <p class="mt-4">نام کاربری و رمز عبور ات رو وارد کن:</p>
    {% endif %}
    <form action="{% url 'account:login' %}" method="post">
      <div class="d-grid gap-2 col-md-6">
        {{ form.as_p }}
      </div>
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}" />
      <div class="d-grid gap-2 col-md-6">
        <input class="btn btn-success" type="submit" value="ورود">
      </div>
    </form>
  </div>
{% endblock %}
