{% extends "base.html" %}

{% block title %}ورود{% endblock %}

{% block content %}
  <h2 class="mt-4 bold-font">ورود به حساب کاربری</h2>
  <div class="form mx-md-3">
    {% if form.errors %}
      <p class="mt-4"></p>
    {% else %}
      <p class="mt-4">نام کاربری و رمز عبور ات رو وارد کن:</p>
    {% endif %}
    <form action="{% url 'account:login' %}" method="post">
      <div class="d-grid gap-2 col-md-6">
        {{ form.as_p }}
      </div>
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}" />
      <div class="d-grid gap-2 col-md-6">
        <input class="btn btn-success" type="submit" value="ورود">
      </div>
    </form>
    <p class="mt-5 mb-2">
      حساب کاربری نداری؟
      <a href="" class="btn btn-primary btn-sm">
        ثبت نام
      </a>
    </p>
    <p class="mb-5">
      رمز عبورت رو فراموش کردی؟
      <a href="{% url 'account:reset_password' %}" class="btn btn-primary btn-sm">
        بازنشانی رمز عبور
      </a>
    </p>
  </div>
  <div class="py-5"></div>
{% endblock %}
